<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Logger.Core" version="2.0.1" targetFramework="net471" />
  <package id="AWS.Logger.NLog" version="2.0.1" targetFramework="net471" />
  <package id="AWSSDK.CloudWatchLogs" version="3.5.0.24" targetFramework="net471" />
  <package id="AWSSDK.Core" version="3.5.1.22" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net471" />
  <package id="NLog" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
</packages>